<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
        <wm-page-content columnwidth="8" name="mainContent" padding="unset 15px">
            <wm-prefab prefabname="AdminPrefab" name="AdminPrefab1" accessroles="Everyone"></wm-prefab>
            <wm-prefab prefabname="UserPrefab" name="UserPrefab1" accessroles="Everyone"></wm-prefab>
            <wm-label padding="unset 0.5em" name="label1" width="100%"></wm-label>
            <wm-buttongroup name="buttongroup1">
                <wm-button class="btn-default" type="button" caption="adminservice" name="button1" on-click="Variables.countUser.invoke()"></wm-button>
                <wm-button class="btn-default" type="button" caption="userservice" name="button2" on-click="Variables.countDept.invoke()"></wm-button>
            </wm-buttongroup>
            <wm-button class="btn-default" caption="Button" type="button" margin="unset 0.5em" name="button3" on-click="Variables.serviceVariable1.invoke()"></wm-button>
        </wm-page-content>
        <wm-right-panel columnwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>