<wm-page data-ng-controller="UserPrefabController" name="page1">
    <wm-content name="content1">
        <wm-button class="btn-default" caption="Invoke user prefab" type="button" margin="unset 0.5em" name="button1" on-click="Variables.serviceVariable1.invoke()"></wm-button>
        <wm-label padding="unset 0.5em" name="label1" caption="bind:Variables.serviceVariable1.dataSet.value"></wm-label>
    </wm-content>
</wm-page>